name: Deploy to us.cloudlogin
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: halaqaat.linuxproguru.com
        username: mdmunazir
        password: Uhd@1364
        server-dir: /www/halaqaat.linuxproguru.com
